<div class="container">
  <div class="card text-center" >
      <div class="card-header info-color white-text">
          Raad het juiste getal tussen 0 en {{count}}
      </div>
      <div class="card-body">
          <div class="card-text">
              <div class="row">
                  <div *ngFor='let num of numbers'>
                      <button type="button" class="btn" [ngClass]="mustbeMin > num || mustbeMax < num ? 'btn-danger disabled' : 'btn-info'"
                          value="{{num}}" (click)="keyPress(num)">{{num}}</button>
                  </div>
              </div>
          </div>
          <a class="btn btn-success btn-sm waves-light" mdbRippleRadius (click)="Restart()">Start opnieuw</a>
      </div>
      <div class="card-footer text-muted info-color white-text">
          <p class="mb-0" *ngIf="attempts > 0 && guessResult != 1" >U heeft {{attempts}} {{attempts == 1 ? "poging" : "pogingen" }} ondernomen.</p>
          <p class="mb-0" *ngIf="guessResult == 1">Correct ! U had {{attempts}} {{attempts == 1 ? "poging" : "pogingen" }} nodig.</p>
      </div>
  </div>
</div>